<!DOCTYPE html>
<html>
  <header>
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/"><span>Bookers</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li><a class="fas fa-home nav-link text-light" href="/"> Home</a></li>
          <li><a class="fas fa-link nav-link text-light" href="/home/about"> About</a></li>
          <li><a class="fas fa-user-plus nav-link text-light" href="/users/sign_up"> Sign up</a></li>
          <li><a class="fas fa-sign-in-alt nav-link text-light" href="/users/sign_in"> Log in</a></li>
        </ul>
      </div>
    </div>
   </nav>
  </header>

  <head>
    <title>Bookers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<body>
  <div class="container">
    <nav class="navbar navbar-expand-md navbar-dark">
      <div class="nav navbar-left">
        <h3><p class="text-white">Bookers</p></h3>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li class="">
            <%#= link_to "Home", users_path(@user) %>
          </li>
          <li class="">
            <%#= link_to "User", users_path %>
          </li>
          <li class="">
            <%#= link_to "Books", books_path %>
          </li>
          <li class="">
            <%= link_to "Logout", destroy_user_session_path, method: :delete %>
          </li>
        <% else %>
          <li class="">
            <%#= link_to "Home", "/" %>
          </li>

          <li class="">
            <%= link_to "Sign up", new_user_registration_path %>
          </li>
          <li class="">
            <%= link_to "Login", new_user_session_path %>
          </li>
        <% end %>
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
      </ul>
    </nav>

    <%= yield %>
  </body>
</html>
